body {
    /*color: #cccccc;*/
    /*font-family:Monospace;*/
    /*font-size:13px;*/

    /*background-color: #000000;*/
    /*margin: 0px;*/
    /*overflow: hidden;*/
}

#info {
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
}

a {
    color: #0080ff;
}

*{
    font-family: Areal;
}

.title-text {
    font-size:15px;
    font-weight: bold;
    text-align:center;
    padding:10px;
}

.searcher-st{
    padding:10px;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
}
.b-popup .b-popup-content{
    width:400px;
    /*height: 400px;*/
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.special-select {
    width: 100%;
    height: 100%;
}

.LabelBead{
    border:1px solid;
    background:#ffffff;
    font-size: 40px;
    width:530px;
    /*height:55px;*/
    text-align: center;
    /*display:none;*/
    position:absolute;
}

.ShortLink{
    border:1px solid;
    background:#ffffff;
    font-size: 20px;
    /*width:250px;*/
    text-align: center;
    position:absolute;
}